.jumbotron {
  background: #2e86c1;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #2937a7;
    border-color: #2937a7; }
    .jumbotron .btn-primary:hover {
      background: #3b4bc5; }
  .jumbotron p {
    color: #ffffff;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

