<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
    <style>
        .jumbotron{
            background: radial-gradient(#002bff, #001892)
        }
    </style>
    <div class="jumbotron text-left">
        <div class="container">
            <a type="button" class="btn btn-lg btn-primary" href="index" align="left"><span class="glyphicon glyphicon-arrow-left"></span> Return</a>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>About Us</h1>

</body>
</html>
