<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
        
<div class="jumbotron text-left">
    <a type="button" class="btn btn-lg btn-primary return" href="index" align="left" id="return"><span class="glyphicon glyphicon-arrow-left"></span> Return</a>
    <div class="container center text-center">
        <a href="/" class="lang-logo" style="height: 130px"><img src="/newlogo.png"></a>
        <h2>Frequently Asked Questions</h2>
    </div>
    <div>
        <p>Who developed Kickstart?</p>
        <p>Kickstart is a unique online educational platform developed by Jake Seymour, Sebastian Quintero, Ishan Shah, Matthew Garcia, Ryan Costa, and Daniel Fleites-Cruz, who are dedicated to guiding students through topics in object-oriented computer programming.</p>
        <hr>
        <p>How does Kickstart plan to teach?</p>
        <p>They plan to help by implementing advanced coding concepts through the use of personalized instructional videos and applications such as Prezi, Nearpod and Google Forms. Through this Kickstart aims to lay the foundation for programming languages such as Java for students in grades 8-11, particularly for those in Miami where coding courses with differentiated instruction are not readily available to them.
        <hr>
        <p>How does Kickstart help the community?</p>
        <p>To quote Dr. Mario Eraso, STEM Coordinator at the School of Computing and Information Sciences at Florida International University, "through their proposed efforts, students involved in Kickstart would be indirectly improving the STEM skills of the very students who would be striving to attend local universities like FIU."</p>
        <hr>
        <p>What is the mission of Kickstart?</p>
        <p>The main mission of Kickstart is equity: to ensure that ALL students in Miami Dade obtain the opportunity to expand their knowledge in STEM areas that are vital to the 21st century workforce.</p>
    </div>
</div>
</body>
</html>
