<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container center">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Kickstart</h1>
    <p>Integrating Young Minds Into the Developing World</p>
    <a type="button" class="btn btn-lg btn-primary" href="aboutus"><span class="glyphicon glyphicon-info-sign"></span> About Us</a>
    <a type="button" class="btn btn-lg btn-default" href="outsideresources"><span class="glyphicon glyphicon-download"></span> Online Resources</a>
    <a type="button" class="btn btn-lg btn-primary" href="calendar"><span class="glyphicon glyphicon-calendar"></span> Calendar</a>
  </div>
</div>
<div class="container center">
  <h3>Project Description</h3>
  <div class="alert alert-info text-center" role="alert">
    Here at Kickstart we are dedicated to serving as a guide to those both interested and willing to learn computer literacy, especially those without the resources to do so.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 left">
      <h3><span class="glyphicon glyphicon-info-sign"></span> What is Kickstart?</h3>
      <ul>
        <li>We are both a student created service and program.</li>
      </ul>
    </div>
    <div class="col-md-6 right">
      <h3><span class="glyphicon glyphicon-info-sign"></span> What is our goal?</h3>
      <ul>
        <li>Our goal is to provide our largest possible means of guidance for those without access to sufficient resources in attaining computer literacy.</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
</body>
</html>
