<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<head></head>
<body>
<div class="jumbotron text-center">
  <div class="container center">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Kickstart</h1>
    <p><i>Integrating Young Minds Into the Developing World</i></p>
    <a type="button" class="btn btn-lg btn-primary" href="aboutus"><span class="glyphicon glyphicon-info-sign"></span> About Us</a>
    <a type="button" class="btn btn-lg btn-default" href="outsideresources"><span class="glyphicon glyphicon-download"></span> Online Resources</a>
    <a type="button" class="btn btn-lg btn-primary" href="calendar"><span class="glyphicon glyphicon-calendar"></span> Calendar</a>
  </div>
</div>
<div class="container center">
  <h3><b>Project Description</b></h3>
  <h4>Here at Kickstart we are dedicated to serving as a guide to those both interested and willing to learn computer literacy, especially those without the resources to do so.</h4>
  <hr>
  <div class="row">
    <div class="col-md-6 left">
      <h3><span class="glyphicon glyphicon-info-sign"></span> What is Kickstart?</h3>
      <ul>
        <li>We are both a student created service and program.</li>
      </ul>
    </div>
    <div class="col-md-6 right">
      <h3><span class="glyphicon glyphicon-info-sign"></span> What is our goal?</h3>
      <ul>
        <li>Our goal is to provide our largest possible means of guidance for those without access to sufficient resources in attaining computer literacy.</li>
      </ul>
    </div>
  </div>
  <hr style="margin-bottom: 80px">
  <div class="text-left" style="width: 100%">
    <h2>Social Media Feeds</h2>
    <hr style="width: 25%; float: left; margin-right: 75%">
    <div class="row" style="width: 100%">
      <div class="left" style="width: 45%">
        <a class="twitter-timeline" data-width="500" data-dnt="true" data-theme="light" href="https://twitter.com/FLKickstart?ref_src=twsrc%5Etfw" style="display: inl">Tweets by FLKickstart</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="right" style="width: 45%">
        <a class="twitter-timeline" data-width="500" data-dnt="true" data-theme="light" href="https://twitter.com/deanmorell?ref_src=twsrc%5Etfw">Tweets by deanmorell</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    
  </div>
</div>
</body>
</html>
