<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<head></head>
<body>
<div class="jumbotron text-center">
  <div class="container center">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Kickstart</h1>
    <p><i>Integrating Young Minds Into the Developing World</i></p>
    <div class="dropdown2" style="margin-bottom: 25px">
        <button onclick="Aboutus()" class="dropbtn2"><span class="glyphicon glyphicon-info-sign"></span> About Us</button>
        <div id="aboutus" class="dropdown-content2">
            <h5><a href="kickstartteam" style="color: #ffffff">The Kickstart Team</a></h5>
            <h5><a href="faqs" style="color: #ffffff">FAQ</a></h5>
            <h5><a href="partners" style="color: #ffffff">Partners and Sponsors</a></h5>
        </div>
    </div>
    <a type="button" class="btn btn-lg btn-primary" href="kickstartteam"><span class="glyphicon glyphicon-info-sign"></span> About Us</a>
    <a type="button" class="btn btn-lg btn-default" href="outsideresources"><span class="glyphicon glyphicon-download"></span> Online Courses</a>
    <a type="button" class="btn btn-lg btn-primary" href="calendar"><span class="glyphicon glyphicon-calendar"></span> Calendar</a>
  </div>
</div>
<div class="row center">
  <div class="container left" style="width: 60%; margin-left: 5%">
    <h3><b>Project Description</b></h3>
    <h4>Here at Kickstart we are dedicated to serving as a guide to those both interested and willing to learn computer literacy, especially those without the resources to do so.</h4>
    <hr>
    <div class="row">
      <div class="col-md-6 left">
        <h3><span class="glyphicon glyphicon-info-sign"></span> What is Kickstart?</h3>
        <ul>
          <li>Kickstart is an organization in which students with different backgrounds are brought together under the collective goal of learning the basics of Computer Science. We are striving to find students that are unable to learn coding at their schools and/or would like to further their education in Computer Science.</li>
        </ul>
      </div>
      <div class="col-md-6 right">
        <h3><span class="glyphicon glyphicon-info-sign"></span> What is our goal?</h3>
        <ul>
          <li>Kickstart as an organization strives to achieve equity in Computer Science education. Our blend of in-person sessions and online courses fuse together to create a curriculum specially designed to aid those who wish to pursue a future in Computer Science. We aim to give students an opportunity to major in Computer Science in college or have a prosperous career in Computer Science.</li>
        </ul>
      </div>
    </div>
    <hr style="width: 100%">
    <h3>Instagram Gallery @floridakickstart</h3>
    <hr class="left" style="margin-bottom: 25px; margin-right: calc(100% - 500px); width: 500px">
    <div class="row" style="width: 100%">
      <div class="left" style="width: 33%; display: inline;">
        <iframe height="450" class="instagram-media instagram-media-rendered center" id="instagram-embed-0" src="https://www.instagram.com/p/BkDKmIvFaEU/embed/captioned/?cr=1&amp;v=8&amp;wp=658&amp;rd=www.instagram.com#%7B%22ci%22%3A0%2C%22os%22%3A934.2269163080592%7D" frameborder="0" scrolling="yes" style="background: white; padding: 0px; border-radius: 3px; border: 1px solid rgb(219, 219, 219); border-image: none; width: 95%; display: block; box-shadow: none;" allowtransparency="true" data-instgrm-payload-id="instagram-media-payload-0"></iframe>
      </div>
    </div>
    <div class="row" style="width: 100%">

    </div>
    <div class="row" style="width: 100%">

    </div>
    <div class="row" style="width: 100%">

    </div>
  </div>
  <div class="col text-left right" style="height: 100%; width: 30%; margin-right: 2%">
    <h2>Twitter Feed</h2>
    <hr style="width: 60%; float: left; margin-right: 75%">
    <a class="twitter-timeline" data-dnt="true" data-theme="light" href="https://twitter.com/FLKickstart?ref_src=twsrc%5Etfw" style="display: inl">Tweets by FLKickstart</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
<script>
function Aboutus() {
document.getElementById("aboutus").classList.toggle("show");
}
// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
if (!event.target.matches('.dropbtn')) {

var dropdowns = document.getElementsByClassName("dropdown-content");
var i;
for (i = 0; i < dropdowns.length; i++) {
    var openDropdown = dropdowns[i];
    if (openDropdown.classList.contains('show')) {
    openDropdown.classList.remove('show');
    }
    }
    }
    }
</script>
</body>
</html>
