<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Outside Resources</h1>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></span> Unit 1: Introducing Computer/Coding Knowledge <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Instructional Video</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Nearpod Presentation</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Activity/Programming Exercise</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Assessment</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Feedback</a></li>
  </div>
</div>
</body>
</html>
