<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Outside Resources</h1>
    <table style="background-color:#002bff" align="center" width="30%">
        <tr>
            <td><h3>Unit 1</h3></td>
        <tr>
            <td><p>Instructional Video</p></td>
            <td><p>Nearpod Presentation</p></td>
            <td><p></p></td>
            <td><p>Instructional Video</p></td>
            <td><p>Instructional Video</p></td>
        <tr>
            <td><h3>Unit 2</h3></td>
        <tr>
            <td><h3>Unit 3</h3></td>
  </div>
</div>
</body>
</html>
