<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
        
<div class="jumbotron text-left">
    <a type="button" class="btn btn-lg btn-primary return" href="index" align="left" id="return"><span class="glyphicon glyphicon-arrow-left"></span> Return</a>
    <div class="container center text-center">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Online Resources</h1>
        <div class="wideboi">
            <div class="dropdown" style="margin-bottom: 25px">
                <button onclick="Unit1()" class="dropbtn">Unit 1: Computing, Software, and Programming</button>
                
                <div id="myDropdown2" class="dropdown-content">
                    <h5><a href="unit1video" style="color: #ffffff">Instructional Video</a></h5>
                    <h5><a href="unit1nearpod" style="color: #ffffff">Nearpod Presentation</a></h5></tr>
                    <h5><a href="unit1activity" style="color: #ffffff">Activity/Programming Exercise</a></h5>
                    <h5><a href="unit1assessment" style="color: #ffffff">Assessment</a></h5>
                    <h5><a href="unit1feedback" style="color: #ffffff">Feedback</a></h5>
                    <h5><a href="unit1flipgrid" style="color: #ffffff">Flipgrid Reflection</a></h5>
                </div>
            
                <button onclick="Unit2()" class="dropbtn">Unit 2: Introduction to Java</button>
                <div id="unit2" class="dropdown-content">
                    <h5><a href="unit2video" style="color: #ffffff">Instructional Video</a></h5>
                    <h5><a href="unit2nearpod" style="color: #ffffff">Nearpod Presentation</a></h5></tr>
                    <h5><a href="https://goo.gl/forms/nMHWG5eqFXqCYaDo1" style="color: #ffffff">Activity/Programming Exercise</a></h5>
                    <h5><a href="https://goo.gl/forms/HthiWesRJ12sUbxh2" target="_blank" style="color: #ffffff">Assessment</a></h5>
                    <h5><a href="https://goo.gl/forms/IwZPwQS8I168pIo63" target="_blank" style="color: #ffffff">Feedback</a></h5>
                    <h5><a href="https://flipgrid.com/383fd6" target="_blank" style="color: #ffffff">Flipgrid Reflection</a></h5>
                </div>
            </div>
        </div>
    
        <div class="wideboi">
            <div class="dropdown" style="margin-bottom: 25px">
                <button onclick="Unit3()" class="dropbtn">Unit 3: PLACEHOLDER</button>
                <div id="unit3" class="dropdown-content">
                    <h5><a href="unit2video" style="color: #ffffff">Instructional Video</a></h5>
                    <h5><a href="unit2nearpod" style="color: #ffffff">Nearpod Presentation</a></h5></tr>
                    <h5><a href="https://goo.gl/forms/nMHWG5eqFXqCYaDo1" style="color: #ffffff">Activity/Programming Exercise</a></h5>
                    <h5><a href="https://goo.gl/forms/HthiWesRJ12sUbxh2" target="_blank" style="color: #ffffff">Assessment</a></h5>
                    <h5><a href="https://goo.gl/forms/IwZPwQS8I168pIo63" target="_blank" style="color: #ffffff">Feedback</a></h5>
                    <h5><a href="https://flipgrid.com/383fd6" target="_blank" style="color: #ffffff">Flipgrid Reflection</a></h5>
                </div>
            </div>
        </div>
        <script>
        function Unit1() {
            document.getElementById("unit1").classList.toggle("show");
        }
        function Unit2() {
            document.getElementById("unit2").classList.toggle("show");
        }
        function Unit3() {
            document.getElementById("unit3").classList.toggle("show");
        }
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
        </script>
    </div>
</div>
</body>
</html>
