<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
        
<div class="jumbotron text-left">
    <a type="button" class="btn btn-lg btn-primary return" href="index" align="left" id="return"><span class="glyphicon glyphicon-arrow-left"></span> Return</a>
    <div class="container center text-center">
        <a href="/" class="lang-logo"><img src="/lang-logo.png"></a>
    </div>
    <div class="row">
        <div align="left">
            <h2>Sponsors</h2>
            <span style="font-size: 24px">Tableau</span>
            <a href="https://www.tableau.com/"><img src="http://www.lib.washington.edu/dataservices/images/Tableau_Software_logo.png/image" style="width:180px; height:120px; margin: 20px" vertical-align="middle"></a>
        </div>
        <div align="right">
            <h2>Partners</h2>
            <span style="font-size: 24px">Breakthrough Miami</span>
            <a href="https://www.breakthroughmiami.org/portal/"><img src="https://www.guidestar.org/ViewEdoc.aspx?eDocId=3990873&approved=True" style="width:240px; height:180px; margin: 20px" vertical-align="middle"></a>
            <span style="font-size: 24px">Florida International University</span>
            <a href="https://www.fiu.edu/"><img src="https://digicdn.fiu.edu/v1/_assets/images/fiu-main-logo.png" style="width:300px; height:120px; margin: 20px" vertical-align="middle"></a>
            <span style="font-size: 24px">Operation Recycle Refurbish</span>
            <a href="https://twitter.com/search?q=%23OperationRecycleRefurbish"><img src="https://files.slack.com/files-pri/T5ANEPNPJ-FBA0QQ43V/img_1795.jpg" style="width:180px; height:240px; margin: 20px" vertical-align="middle"></a>
        </div>
    </div>     
</div>
</body>
</html>
