<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
        
        <div class="jumbotron text-left">
    <a type="button" class="btn btn-lg btn-primary return" href="outsideresources" align="left" id="return"><span class="glyphicon glyphicon-arrow-left"></span> Return</a>
    <div class="container center text-center">
        <a href="/" class="lang-logo"><img src="/lang-logo.png"></a>
        <h2>Unit 6: Flipgrid Reflection</h2>
        </div>
    <div class="container center text-center" style="font-color: white">
        <p>Password: kickstart</p>
        </div>
    <div class="container center text-center">
        <iframe width="600" height="800" frameBorder="0" src="https://flipgrid.com/03a9fa" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="microphone; camera"></iframe>
        </div>
</body>
</html>
