<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
        
<div class="jumbotron text-left">
    <a type="button" class="btn btn-lg btn-primary return" href="outsideresources" align="left" id="return"><span class="glyphicon glyphicon-arrow-left"></span> Return</a>
    <div class="container center text-center">
        <a href="/" class="lang-logo"><img src="/lang-logo.png"></a>
        <h2>Unit 1: Instructional Video</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Dv7gLpW91DM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>
</body>
</html>
