<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
        
<div class="jumbotron text-left">
    <a type="button" class="btn btn-lg btn-primary return" href="outsideresources" align="left" id="return"><span class="glyphicon glyphicon-arrow-left"></span> Return</a>
    <div class="container center text-center">
        <a href="/" class="lang-logo"><img src="/lang-logo.png"></a>
        <h2>Unit 7: Instructional Video 1</h2>
        <p> Intro to Arrays </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/L06uGnF4IpY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="container center text-center">
        <h2>Unit 7: Instructional Video 2</h2>
        <p> Array Tables </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nTF-RcgsV0E?start=194" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="container center text-center">
        <h2>Unit 7: Instructional Video 3</h2>
        <p> Summing Elements of Arrays </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/etyrkipdKvc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>
</body>
</html>
